.gallery {
    pointer-events: none;
    animation-name: open;
	animation-fill-mode: forwards ;
	animation-duration: 5s;
    width: 100vw;
    background-color: rgb(17, 16, 16);
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    overflow: visible;
    mix-blend-mode: difference;
}

.gallery-text {
    color: white;
	text-align: center;
	width: 99.5%;
	position: absolute;
	font-weight: bold;
	animation-name: spacing;
	animation-fill-mode: forwards;
	animation-duration: 4s;
	top: 50%;
	transform: translate(0, -50%);
}

@keyframes spacing {
	from {
		font-size: 40px;
	}
	to {
		letter-spacing: 80px;
		font-size: 45px;
	}
}

@keyframes open {
    from{
        height: 0vw;
    }
	to {
		height: 100vw;
	}
}
