.share-buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 77%;
    left:89%;
    width: 25vh;
    transform: translate(-87%, -77%);
}

.share-button{
    padding: 10px;
}
